/*
Student Name: Robin Kelley
File Name: styles.css
Date: 2/2/2026
*/

/*-----List of Fonts Used------
font-family: 'Dosis', sans-serif;
font-family: 'Ephesis', cursive;
font-family: 'Kalam', cursive;
font-family: 'Shadows Into Light', cursive;
*/

/*-----List of Colors Used-----
background-color: #a492b3
color: #231330
background-color: #908996
*/


/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Body Styles*/
body{
    font-family: 'Dosis', sans-serif;
    background-color: #a492b3;
    color: #231330;
}

.h1{
    font-family: 'Ephesis', cursive;
    color: #231330;
    text-align:center;
}

p{
    padding: 1%;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

/*Button Details*/
.buttoncenter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.button{
    background-color: #908996;
    color: black;
    padding: 5px;
    font-family: 'Shadows Into Light', cursive;
}

.button:hover{
    background-color: cornflowerblue;
    color: black;
}
